<!DOCTYPE html>
<html lang="en">

<head>
    <title>Contact us page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='ContactUsNewStyle.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
</head>

<body>
    <div class="main">
       <div class="navbar">
                <div class="icon">
              
                        <img class="appLogo" src="{{ url_for('static', filename='logo.png') }}" alt="">
                
                </div>
    
                <div class="menu">
                    <ul>
                        <li><a href="{{ url_for('home') }}">HOME</a></li>
                        <li><a href="{{ url_for('about') }}">ABOUT</a></li>
                        <li><a href="{{ url_for('contact') }}">CONTACT</a></li>
                        <!-- <li><a href="{{ url_for('free_test') }}">FREE TEST</a></li> -->
                    </ul>
                </div>
        </div>
            <div class="row">
                <div class="col-lg-6 d-flex align-items-center">
                    <div class="contact-info">

                        <h2 class="contact-title">Have Any Questions?</h2>
                        <p>Feel free to contact us regarding any queries and for giving any suggetions.
                        You can contact us between <b>9:00 to 8:00 pm.</b> We are available between <b>Monday to Saturday.</b> In case of emergency drop an Email.</p>
                        <ul class="contact-info">
                            <li>
                                <div class="info-left">
                                    <i class="fas fa-mobile-alt"></i>
                                </div>
                            
                                <div class="info-right">
                                    <h4>+91 91727 84808</h4>
                                   
                                </div>
                            </li>
                          
                            <li>
                                <div class="info-left">
                                    <i class="fas fa-at"></i>
                                </div>
                            
                                <div class="info-right">
                                    <h4>saherish.kazi.aiml@ghrcem.raisoni.net</h4>
                                    <h4>saherish.kazi.aiml@ghrcem.raisoni.net</h4>
                                   
                                </div>
                            </li>
                          
                            <li>
                                <div class="info-left">
                                    <i class="fas fa-map-marker-alt"></i>
                                </div>
                                
                                <div class="info-right">
                                    <h4><a href="https://maps.app.goo.gl/iBqoyRj32EioiAWT8">G.H.Raisoni college of engineering and management,Wagholi,<br> Tal - Haweli, Dist - Pune, Maharashtra</a></h4>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <div class="col-lg-6 d-flex align-items-center">
                    <div class="contact-info">

                        <h2 class="contact-title">Consult With Experts, Doctors</h2>
                        <p>Do Consultation. Have greate Conversation. Get best Advice. And Fight Cancer</p><br>
                        <ul class="contact-info">
                            <li>
                                <div class="info-left">
                                    <i class="fas fa-mobile-alt"></i>
                                </div>
                            
                                <div class="info-right">
                                    <h4><b>Dr.Vaishnavi Nigade (MBBS)</b></h4>
                                    <h4>Email : vaishnavinigade2004@gmail.com</h4>
                                    <h4>Contact : +91 72768 65751</h4>
                                </div>
                            </li>
                          
                            <li>
                                <div class="info-left">
                                    <i class="fas fa-mobile-alt"></i>
                                </div>
                            
                                <div class="info-right">
                                    <h4><b>Dr.Ashwini Sawarkar (MBBS)</b></h4>
                                    <h4>Email : ashwinisawarkar42@gmail.com</h4>
                                    <h4>Contact : +91 86051 48352</h4>
                                </div>
                            </li>
                          
                            <li>
                                <div class="info-left">
                                    <i class="fas fa-mobile-alt"></i>
                                </div>
                            
                                <div class="info-right">
                                    <h4><b>Dr.VPrachi Patil (MBBS)</b></h4>
                                    <h4>Email : prachigangadharpatil@gmail.com</h4>
                                    <h4>Contact : +91 98348 82094</h4>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                
            </div>
    </div>
</body>
</html>